


/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.btnSelect {
  background-color: #1DD100;

}

.raleway-reglr {
  font-family: "Raleway", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-md {
  font-family: "Raleway", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.raleway-semi-bld {
  font-family: "Raleway", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.raleway-bld {
  font-family: "Raleway", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.raleway-xb {
  font-family: "Raleway", system-ui;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.inter-reglr {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-md {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-semi-bld {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-bld {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-xb {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.inter-black {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.btnbg{
    background-color: #0307120D;
    border-radius: .5rem;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}